artifact/target/
*.jar
*.war
*.ear
*.class
.metadata
.recommenders
*.tmp
*.bak
bin/**
tmp/**
tmp/**/*
*~.nib
.externalToolBuilders/
local.properties
.classpath
.settings/
.loadpath
RemoteSystemsTempFiles
*.out.*
artifact/.sts4-cache/classpath-data.json
